<div style="padding: 4px;">
    <h2 matDialogTitle style="text-align: center; font-weight: bold; font-size: 18px;">Create Demo Order
        <button mat-button matDialogClose matTooltip="Close"
          style="background-color: transparent; color: black; float: right; font-size: 24px;">
          &nbsp;X&nbsp;
      </button>
    </h2>
</div>
<div>
  <p style="font-size: 22px; padding-left: 15px; padding-top: 30px;" [innerHTML]="message"></p>
  <p style="font-size: 22px; padding-left: 15px; padding-bottom: 280px;" [innerHTML]="copyMessage"></p>
</div>
<div style="padding-left: 22px; padding-top: 4px;">
  <button *ngIf="showStartCopy" mat-button 
    style="background-color: teal; color: white; margin-right: 4px;" 
    [innerHTML]="continueMessage" (click)="continueCreation();"></button>
  <button *ngIf="showEndCopy" mat-button 
    style="background-color: blue; color: white; margin-right: 4px;" 
    [innerHTML]="continueMessage" (click)="gotoCopy();"></button>
  <button mat-button style="background-color: red; color: white; margin-right: 4px;" 
    matDialogClose>{{ cancelMessage }}</button>  
</div>

