<div style="padding: 4px;">
    <h2 matDialogTitle style="text-align: center; font-weight: bold; font-size: 18px;">New Digital Signature
      <button mat-button matDialogClose matTooltip="Close"
        style="background-color: transparent; color: black; float: right; font-size: 24px;">
        &nbsp;X&nbsp;
      </button>
    </h2>
    
</div>
<mat-dialog-content>
    <p>Stuff for dialogue goes here..</p>
    <p>Stuff for dialogue goes here..</p>
    <!-- <mat-checkbox (change)="checkboxChange($event)">Toggle <code>disableClose</code></mat-checkbox> -->
</mat-dialog-content>
<div></div>