<div style="padding: 4px;">
    <h2 matDialogTitle style="text-align: center; font-weight: bold; font-size: 18px;">Send Email
        <button mat-button matDialogClose matTooltip="Close"
            style="background-color: transparent; color: black; float: right; font-size: 24px;">
            &nbsp;X&nbsp;
        </button>
    </h2>
</div>
<div style="padding-left: 22px;">
    <p>Stuff for dialogue goes here..</p>
    <p>Stuff for dialogue goes here..</p>
</div>
<div style="padding-left: 22px; padding-top: 4px;">
    <button mat-button style="background-color: teal; color: white; margin-right: 4px;" matDialogClose>Close</button>
</div>