<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <!-- 
                lastNameSearch: string = '';
    nNumberSearch: string = '';
    serialNumberSearch: string = '';
    companySearch: string = '';
    emailSearch: string = '';
        -->
        <h1 style="text-align: center; font-size: 18px; font-weight: bold;">Customer Search</h1>
        <div id="myDivHide">
            <table>
                <tr>
                    <td>Last Name:</td>
                    <td>Company:</td>
                    <td>Email:</td>                
                </tr>
                <tr>
                    <td style="padding-right: 10px;">
                        <input type="text" class="cellData cellDataO" style="width: 400px; padding-left: 2px;" [(ngModel)]="lastNameSearch">
                    </td>
                    <td style="padding-right: 10px;">
                        <input type="text" class="cellData cellDataO" style="width: 400px; padding-left: 2px;" [(ngModel)]="companySearch">
                    </td>
                    <td style="padding-right: 10px;">
                        <input type="text" class="cellData cellDataO" style="width: 400px; padding-left: 2px;" [(ngModel)]="emailSearch">
                    </td>                
                </tr>
            </table>
            <table>
                <tr>
                    <td>N Number:</td>
                    <td>Serial Number:</td>
                </tr>
                <tr>
                    <td style="padding-right: 10px;">
                        <input type="text" class="cellData cellDataO" style="width: 75px; padding-left: 2px;" [(ngModel)]="nNumberSearch">
                    </td>
                    <td style="padding-right: 10px;">
                        <input type="text" class="cellData cellDataO" style="width: 75px; padding-left: 2px;" [(ngModel)]="serialNumberSearch">
                    </td>
                </tr>            
            </table>
            <table>
                <tr>
                    <td style="padding-top: 4px;">
                        <button (click)="retrieveCustomers();" style="width: 80px; background-color: black; color: white;">Search</button>
                    </td>
                </tr>
            </table>
        </div>
        <button (click)="onClickOpenClose();" style="width: 80px; background-color: black; color: white;">Show/Hide</button>
        <hr>
        <h1 style="text-align: center; font-size: 18px; font-weight: bold;">Search Results</h1>
        <div>&nbsp;</div>
        <table mat-table [dataSource]="dataSource" width="100%" matSort>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px; width: 60px;"></th>
                <td mat-cell *matCellDef="let element">
                  <button (click)="selectCustomer(element);" style="width: 60px; background-color: black; color: white;">View</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="departmentID">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Dept ID</th>
                <td mat-cell *matCellDef="let element"> {{element.departmentID}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Display Name</th>
                <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
            </ng-container>

            <ng-container matColumnDef="nNumber">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>N Number</th>
                <td mat-cell *matCellDef="let element"> {{element.nNumber}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email }} </td>
            </ng-container>
            
            <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Company Name</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.companyName.length > 20" matTooltip="{{element.companyName}}">{{element.companyName.substring(0,20)}}...</span>
                    <span *ngIf="element.companyName.length <= 20">{{element.companyName}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="customerID">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Customer ID</th>
                <td mat-cell *matCellDef="let element"> {{element.customerID}} </td>
            </ng-container>            

            <ng-container matColumnDef="orderID">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>Order ID</th>
                <td mat-cell *matCellDef="let element"> {{element.orderID}} </td>
            </ng-container>

            <ng-container matColumnDef="sn">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px;" mat-sort-header>SN</th>
                <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
            </ng-container>
            
            

            <!-- This is used to pad the table so keep it at the end -->
            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef style="font-weight: bold; font-size: 16px; width: 10px;"></th>
                <td mat-cell *matCellDef="let element" ></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="daColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: daColumns;"></tr>
            
        </table>
        <mat-paginator [pageSize]="8" [pageSizeOptions]="[4, 8, 10]"></mat-paginator>
    </div>

</div>